@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html {
  height: 100vh;
}

body {
  overflow: hidden;
}

ul li {
  font-size: 0.75rem;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#sidebar {
  overflow-y: auto;  /*adds scroll to this container*/
  height: 100vh;
}

#pano {
  width: 250px;
  height: 200px;
}

.wiki-description {
  overflow-y: scroll;
  height: 3rem;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.fle-container {
  flex-direction: row-reverse;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 400px) {
  .wiki-description {
    overflow-y: scroll;
    height: 50px;
    width: 8rem;
  }

  #infowindow {
    width: 8rem;
  }
}

/*@media (min-width: 401px) {*/
  /*.wiki-description {*/
    /*overflow-y: scroll;*/
    /*height: 50px;*/
    /*width: 8rem;*/
  /*}*/

  /*#infowindow {*/
    /*width: 8rem;*/
  /*}*/

  /*::-webkit-scrollbar {*/
    /*-webkit-appearance: none;*/
    /*width: 7px;*/
  /*}*/
  /*::-webkit-scrollbar-thumb {*/
    /*border-radius: 4px;*/
    /*background-color: rgba(0, 0, 0, .5);*/
    /*-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);*/
  /*}*/
/*}*/