html,
body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
#zoom-to-area, ul, input, button {
  font-family: 'Josefin Sans', sans-serif;
}


.container {
  height: 100%;
  position: relative;
}

input {
  font-size: 12px;
  margin: 10px 0;
}

.title-hamburger-icon {
  display: none;
  position: fixed;
  z-index: 99;
  top: 10px;
  left: 15px;
}

.options-box .fa-times,
#directions-panel .fa-times {
  position: absolute;
  left: 325px;
  top: 0px;
  padding: 10px 10px;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}


#hide-listings,
#show-listings {
  width: 48%;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 0 0;
  border: none;
}

#map {
  bottom:0px;
  height: 100%;
  left: 362px;
  position: absolute;
  right: 0px;
}

.options-box, #directions-panel {
  background: #fff;
  /*border: 1px solid #999;*/
  /*border-radius: 3px;*/
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 350px;
}

ul li {
  cursor: pointer;
  position: relative;
  background: #eee;
  font-size: 12px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

#directions-panel {
  position: absolute;
  top:0;
  display: none;
  font-size: 12px;
  overflow: scroll;
}

#pano {
  width: 200px;
  height: 200px;
}

#places-search,
#search-within-time-text {
  width: 84%;
}

.text {
  font-size: 12px;
}

#toggle-drawing {
  width: 27%;
  position: relative;
  margin-left: 10px;
}

#zoom-to-area-text {
  width: 70%;
}

#zoom-to-area {
  width: 24%;
}

ul {
  padding-left: 5px;
  margin: 5px 5px;
  width: 95%;
  height: 200px;
  overflow: scroll;
}

span {
  font-size: 12px;
}

#submit {
  position: absolute;
  left: 320px;
}

#show-more {
  position: relative;
  left: 260px;
  display: none;
}

#go-places {
  position: relative;
  left: 290px;
}

#clear-places {
  position: relative;
  left: 250px;
  display:none;
}

li .addStart {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 5px 12px 5px;
}

li .addEnd {
  position: absolute;
  right: 40px;
  top: 0;
  padding: 12px 5px 12px 5px;
}

li .addStart:hover, .addEnd:hover {
  background-color: #f44336;
  color: white;
}