@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html {
  height: 100vh;
}

body {
  overflow: hidden;
}

ul li {
  font-size: 0.75rem;
}

#pageSubmenu li {
  border-bottom: 4px solid #6d7fcc;
}

#sidebar {
  overflow-y: auto;  /*adds scroll to this container*/
  height: 100vh;
}

#sidebar ul.components {
  border-bottom: none;
}

#pano {
  width: 250px;
  height: 200px;
}

.wiki-description {
  overflow-y: scroll;
  height: 3rem;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.fle-container {
  flex-direction: row-reverse;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 374px) {
  .weather {
    display: none;
  }
}

@media (max-width: 450px) {
  .weather-status {
    display: none;
  }
}

@media (max-width: 400px) {
  .wiki-description {
    overflow-y: scroll;
    height: 50px;
    width: 8rem;
  }

  #infowindow {
    width: 8rem;
  }
}
